html,
body {
    background: linear-gradient(to bottom, #303030 0%, #121212 95%, #000000 100%);
    height: 100vw;
    margin: 0;
    width: 100%;
}

body {
    display: flex;
}

button,
td,
th {
    color: #e0e0e0;
    font-size: 19px;
}

#Navigation hr {
    border-color: #ffff33;
    margin: 1px 0px 1px 0px;
}

/* aside */

aside #Navigation {
    border-right: 1px solid #ffff33;
    left: 0;
    min-height: 100%;
    min-width: fit-content;
    width: 100px;
}

#home-btn {
    margin-top: 40px;
}

.sidebar-btn {
    background: #0f0f0f;
    border: none;
    cursor: pointer;
    height: 40px;
    margin: 1px 0px 1px 0px;
    transition: height 0.2s;
    width: 100%;
}

.sidebar-btn.active {
    height: 60px;
    color: #ffff33;
}

.sidebar-btn:not(.active):hover {
    background-color: #333333;
}

/* table */

table {
    border-collapse: separate;
    border-spacing: 3px;
    width: 100%;
}

th,
td {
    background-color: #0f0f0f;
    border: none;
    height: 34px;
    padding: 2px 7px;
    text-align: center;
}

#tab1 tr:nth-child(2) th,
#tab1 tr:first-child th:nth-child(1),
#tab1 tr:first-child th:nth-child(2),
#tab2 tr:nth-child(3) th,
#tab2 tr:first-child th,
#tab3 tr:nth-child(3) th,
#tab3 tr:first-child th,
#tab99 tr:nth-child(2) th {
    border-bottom: 2px solid #ffff33;
}

#tab2 tr:first-child th:nth-child(4),
#tab3 tr:first-child th:nth-child(4) {
    border: none;
}

tr:first-child th:first-child {
    border-top-left-radius: 12px;
}

tr:first-child th:last-child {
    border-top-right-radius: 12px;
}

tr:last-child td:first-child {
    border-bottom-left-radius: 12px;
}

tr:last-child td:last-child {
    border-bottom-right-radius: 12px;
}

/* tabs */

.tab-content {
    display: none;
}

.tab-content input[type="number"] {
    text-align: center;
    width: 40px;
}

.tab-content.active {
    display: block;
}

#tabs {
    margin: 0 auto;
    width: 88vw;
    padding-top: 40px;
}

/*  */

.img {
    display: block;
    height: 100%;
    object-fit: cover;
    width: 100%;
}